<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatGPT-like App</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    
    <div id="chat-container">
        <!-- Chat Header -->
        <div id="chat-header">InsightFlow</div>

        <!-- Messages Container -->
        <div id="messages"></div>

        <!-- User Input Section -->
        <div id="input-container">
            <input type="text" id="user-input" placeholder="Type your message...">
            <br> <br>
            <button id="send-button">Send</button>
        </div>
    </div>

    <script src="../static/script.js"></script>
</body>
</html>
